<ion-modal-view>
    <ion-header-bar class="bar-calm">
        <div class="title">MY MODAL TITLE</div>
     </ion-header-bar>
     <ion-content scroll="false">
        <ion-slides  options="options" slider="data.slider">
          <ion-slide-page>
            <div class="box blue"><img  src="../img/1_o8tTGo3vsocTKnCUyz0wHA.jpeg"></div>
          </ion-slide-page>
          <ion-slide-page>
            <div class="box yellow"><img  src="../img/david-kovalenko-G85VuTpw6jg-unsplash.jpg"></div>
          </ion-slide-page>
          <ion-slide-page>
            <div class="box pink"><img  src="../img/dsc00531.jpg"></div>
          </ion-slide-page>
        </ion-slides>
      </ion-content>
      
  </ion-modal-view>